/* Fundo escuro com brilho suave */
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #121212;
    overflow: hidden;
}

/* Login container com tema neon */
.login-container {
    width: 350px;
    padding: 20px;
    background: rgba(50, 50, 50, 0.8);
    border: 1px solid #00ffcc;
    border-radius: 10px;
    box-shadow: 0 0 15px #00ffcc;
}

.login-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #00ffcc;
}

/* Estilo de entrada e rótulo */
.input-field label, .input-field input, .login-button {
    color: #ffffff;
}

/* Estilo do botão neon */
.login-button {
    background-color: transparent;
    border: 2px solid #00ffcc;
    color: #00ffcc;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    padding: 10px;
    width: 100%;
    border-radius: 4px;
}

.login-button:hover {
    background-color: #00ffcc;
    color: #121212;
}

/* Container para o link de cadastro */
.form-action {
    text-align: center;
    margin-top: 10px;
}

/* Boneco futurista */
#boneco {
    width: 30px;
    height: 30px;
    background: radial-gradient(circle, #00ffcc, #003333);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    box-shadow: 0 0 20px #00ffcc, 0 0 40px #00ffcc;
    transition: transform 0.05s ease-out;
}
