<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Tela de Login - TESTE</title>
</head>
<body>
    <div id="boneco"></div> <!-- Boneco que segue o mouse -->
    
    <div class="login-container">
        <h1>Login</h1>
        <form action="/login" method="post">
            <div class="input-field">
                <label for="nome">Nome</label>
                <input type="text" id="nome" name="nome" required>
            </div>
            <div class="input-field">
                <label for="senha">Senha</label>
                <input type="password" id="senha" name="senha" required>
            </div>
            <button type="submit" class="login-button">Entrar</button><br><br>
            
            <div class="form-action">
                <a href="">
                    <button type="button" class="login-button">Cadastro</button>
                </a>
            </div>
        </form>
    </div>
    
    <script src="static/script.js"></script> <!-- Script externo -->
</body>
</html>
